*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
   

}
ul, a{
    text-decoration: none;
    color: #334862;
    list-style: none;
}
ul a:hover {
color: #111;
}

/* Header */
.fs-7{
    font-size: 0.9rem!important;
}
.fs-8{
    font-size: 0.8rem!important;
}
.top-bar h6{
    letter-spacing: 0.03em;
}
.navbar-toggler:focus {
    box-shadow: none!important;
}
#resizingSelectTag {
    width: 66px;
    background: rgba(0,0,0, .03);
} 
    
#selectTagWidth{
    display : none;
} 
.search-bar{
    padding-right: 15rem;
    background:rgba(0,0,0, .03) ;
    padding-top: 0.175rem;
    padding-bottom: 0.175rem;
}
.search-bar::placeholder{
    font-size: 0.8rem;
}
.btn:focus{
    box-shadow: none!important;
}
.register-btn{
    position: relative;
    width: max-content;
    background: #115198!important;
    color: #fff;
}
.register-btn:hover{
    color: #fff;
    background:#115198 ;
}
.register-btn::before{
    content: "";
    position: absolute;
    border-left:1px solid rgba(0,0,0,.1);
    top:0;
    left:-13px;
    bottom:0;
    right:0;
}
.register-btn::after{
    content: "";
    position: absolute;
    border-left:1px solid rgba(0,0,0,.1);
    top:0;
    left:210px;
    bottom:0;
    right:0;
    z-index: 1;
}
.shopping-cart{
    position:relative;
    background: #115198;
    color: #fff; 
}
.person-btn, .cart-btn{
    background: #115198!important;
}
.shopping-cart::before, 
.shopping-cart::after{
--scale:0;
--tooltip-color: #f2f2f2;
--arrow-size: 6.5px; 
position: absolute;
bottom:  -0.55rem;
left:50%;
content: "";
transform: translateX(-80%) translateY(var(--translate-y, 0)) scale(var(--scale));
transition: 150ms transform;
transform-origin: top right;

}
.shopping-cart::before{
    --translate-y:calc(100% - var(--arrow-size));
    content: attr(data-tooltip);
    color: #111;
    padding: 1.2rem;
    width: max-content;
    text-align: start;
    background: var(--tooltip-color);
}
.shopping-cart:hover::before,
.shopping-cart:hover::after{
  --scale:1;
}
.shopping-cart::after{
  --translate-y:calc( -1 * var(--arrow-size));
    content: "";
    border: var(--arrow-size) solid transparent;
    border-bottom-color:var(--tooltip-color);
    transform-origin: bottom center;
    
}
.menu-item .active{
    background: #0018ba;
}
.menu-item a:hover{
    background: #0018ba;
}
.time-open{
    margin-left: 13rem;
}
.time-open li a [data-bs-toggle="tooltip"]{
    width: max-content;
}
.offcanvas{
    width: 82%!important;
  
}
.phone-social-icons a{
    background: #fff;
}
.main-content-wrapper,
.footer-1 .row, 
.footer-2 .row{
    max-width: 1080px;
}
.max-width{
    max-width: 1080px;
}
.phone-menu-item{
    border-bottom: 1px solid #e8e0e0;
}
.is-divider{
    height: 3px;
    display: block;
    background-color: rgba(0,0,0,.1);
    margin: 1em 0 1em;
    width: 100%;
    max-width: 30px;
}
.btn-close{
    background: none!important;
    z-index: 1000;
    position: absolute!important;
    opacity: 1!important;
    right: -3rem;
    
}
.btn-close-shopping-cart{
    right: 1rem!important;
}

.btn-close  .bi-x-lg{
  font-size: 1.2rem;
  font-weight: bolder;
  color: #fff;
}
.card{
    border: none!important;
}
.card-body p{
    font-size: 0.7rem;
}

.card-img img{
    width: 180px;
    height: 162px;
    object-fit: cover;
    max-width: 100%;
  
}
.card-img{
    display: flex;
    justify-content: center;
}

.card-body{
    height: 102px;
    width: 100%;
    line-height: 1.3;
    letter-spacing: .05em;
}

.footer-1{
    background: #000b70
}
.navigation-bar .row{
    background: #ff0000;
}

/* media queries  */
@media screen and (min-width:426px) and (max-width:600px) {
    .offcanvas{
        width: 50% !important;
    }
   
}
@media screen and (min-width:600px) and (max-width:992px) {
    .offcanvas{
        width: 33% !important;
    }
    .card-img img{
      width:100%
    }
  .card-body{
      padding-top: 2rem!important;
  }
  .btn-subscribe button{
    padding-left: 15rem!important;
    padding-right: 15rem!important;
}
}
@media screen and (min-width:992px) and (max-width:2000px) {
    
}
@media screen and (max-width:426px) {
  
  .card-body h6{
      font-size: 0.8rem;
  }
  .footer-title h5{
     font-size: 1rem;
  }
  
}
@media screen and (min-width:700px) and (max-width:992px) {
    .card-img img{
        min-height: 15rem;
        width:100%
          
      }
}


